
<h1>Stupid Coaching</h1>
<%=params[:question]%>
<br>
<cite>-You</cite>
<br>
<br>
<%=@coach%>
<br>
<cite>-Your coach</cite>
<br>
<%= link_to "Do you have more stupid question before you finally start working you lazy ass?", ask_path %>
